
@import '../../definitions';
.ui.segment.week {
    background:none;
    color:white;    
    box-shadow: none;
}
.weather-box-style {
    
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}