.diningTitle-style-title {
    border: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
    font-size: 16;
    background-color: #0096EB;
    p{
        padding: .5em;
    }
    .diningTitle-title-text {
        margin: 10;
        font-size: 15;
        font-family: Roboto;
    }
}
