.diningItem-style-wrapper {
    div.header.left.floated{
        padding-left:.5em;
        font-weight:normal;
    }
    .dinintItem{
        padding-right:1em;
        text-align:right;
        border: 1px solid #CFCFCF;
        border-top: none;
        display: flex;
        height: 55px;
        width: 100%;
        font-family: Roboto;
    }
}
