.title {
    border: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
    font-size: 16;
    background-color: #0096EB;
}
.title-text {
    margin: 10;
    font-size: 15;
    font-family: Roboto;
}
