.generic-content-style-wrapper {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .navbar-wrapper {
        height: 15%;
        width: 100%;
        .navbar-padding {

        }
    }
    .content-wrapper {
        height: 85%;
        width: 100%;
    }
}