.mainScreen-style-wrapper {
    width: 100vw;
    height: 100vh;
    //background: linear-gradient( rgba(83, 104, 149, .5), rgba(83, 104, 149, .5) ), url("/UCLA-Campus.jpg");
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


