.mainScreen-style-wrapper {
    //background: linear-gradient( rgba(83, 104, 149, .5), rgba(83, 104, 149, .5) ), url("/UCLA-Campus.jpg");
    background-color: black;
    background-size: cover;
    .mainScreen-wrapper {
        width: 90vw;
        margin:auto;
    }

    .row{
    margin-right:0;
    margin-left:0;
    }
}


