.intermediate-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intermediate-page-content-wrapper {
    width: 500px;
    height: 400px;
  }

  .intermediate-page-content-wrapper-finished {
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
