.generic-drawer-style-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .padding-wrapper {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .logo-wrapper {
        height: 50px;
        width: 100%;
        border: 1px solid black;
    }
    
}

